<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Mongo Scraper</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a class="btn btn-danger scrape-new" id="scrapeButton">SCRAPE NEW ARTICLES!</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron text-center">
        <div class="overlay">
        </div>
        <div class="background-image">
        </div>
        <div class="caption"> 
            <h2>{{title}}</h2>
            <h5>See below to add or view notes for this article.</h5>
        </div>
    </div>

    <div class="container-fluid article-container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <form id="addNote" data="{{this.id}}" dataLink="{{this.link}}" dataTitle="{{this.title}}">
                    <input placeholder="What is the name or subject of your comment?" type="text" name="addingtitle" class="addingtitle">
                    <br>
                    Comment:
                    <br>
                    <input placeholder="Type your comment here." type="text" name="addingnote" class="addingnote">
                    <br>
                    <input type="submit" name="submitbutton">
                </form>
                <a class="btn btn-danger danger" id="backButton" data="{{this.id}}" dataLink="{{this.link}}" dataTitle="{{this.title}}">Back to Articles</a>

            </div>
        </div>

        {{#each note}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <a class="article-link" target="_blank" data="{{this.id}}" href="{{this.link}}">{{this.title}}</a>
                    <a class="btn btn-danger" id="deleteNote" data="{{this.id}}" dataLink="{{this.link}}" dataTitle="{{this.title}}">Delete Note</a>
                </h3>
            </div>
        </div>
        {{/each}}
    </div>


    <footer class="footer">
        <div class="container">
            <p>Mongo Scraper</p>
        </div>
    </footer>

</body>